// Navigation Styles here

nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px dashed @navigation-border;
    
    


    h1 {
        padding: 1.5% 41% 1.5% 1.5%;
    }
    
    
    a {
        padding: 3% 0% 3% 3%;
        font-size: 2rem;
        text-decoration: none;
        color: black;
    }

 

}

img {
    margin-bottom: 3%;
}


